/*------Base------*/

body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.6rem;
    background-color: #F2F2F2;
}

section {
    padding: 40px 0;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
    color: #BF1E2D;
    padding: 10px 0;
    text-transform: uppercase;
}

h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

@media (max-width: 650px) {
    body {
        font-size: 1.3rem;
    }
    section {
        padding: 20px 0;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        padding: 5px 0;
        font-size: 1.8rem;
        margin: 10px 0;
    }
    h3 {
        font-size: 1.8rem;
    }
}

a {
    color: #BF1E2D;
}

a:hover {
    color: #BF1E2D;
}

body {
    max-width: 1600px;
    margin: 0 auto;
}

.highlight {
    color: #BF1E2D !important;
    font-weight: bold;
}


/*-----Components-----*/

@media (max-width: 1200px) {
    .container {
        width: 95%;
        margin: 0 auto;
    }
}

.btn {}

.btn-primary {
    background-color: rgba(191, 30, 45, 0.9);
    border-color: #BF1E2D;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: rgb(191, 30, 45);
    border-color: #BF1E2D;
    background-image: none;
}

.btn-primary:active,
.btn-primary.active,
.btn-primary:visited {
    background-color: rgb(191, 30, 45) !important;
    border-color: #BF1E2D !important;
    background-image: none;
}

@media (max-width: 650px) {
    .section-header p {
        font-size: 1.3rem;
    }
}

.main-header {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: left;
    border-bottom: 5px solid rgba(51, 51, 51, 1);
}

.sub-header {
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: underline;
    //border-bottom: 5px solid #BF1E2D;
}


/*-----Utility------*/

.vertical-align {
    display: block;
    vertical-align: middle;
}

.vertical-align > * {
    display: inline-block;
}


/*-----Header------*/

.masthead {
    padding: 20px 0 5px 0;
}

.navbar a {
    color: #0D0D0D;
}

.navbar-logo {
    float: left;
}

.navbar-logo img {
    max-width: 200px;
    height: auto;
}

.navbar-default {
    background-color: inherit;
    border: none;
}

.icon-bar {
    background-color: #0D0D0D;
}

@media (max-width: 1200px) and (min-width: 650px) {
    .navbar-logo img {
        max-width: 170px;
        height: auto;
    }
}

@media (max-width: 650px) {
    .masthead {
        padding: 10px 0 0 0;
    }
    .navbar-toggle {
        margin: 0 8px 8px 8px;
    }
    .navbar-logo img {
        max-width: 120px;
    }
    .navbar-default {
        margin: 0;
    }
}

.join-link a {
    position: relative;
    color: #BF1E2D !important;
    font-weight: 700;
    margin-left: 20px;
}

.join-link a:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.1s ease-in;
}

.join-link img {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 28%;
    left: -15%;
}

@media (max-width: 767px) {
    .join-link a {
        margin-left: 0;
    }
    .join-link img {
        display: none;
    }
    .join-link a:hover {
        transform: none;
        transition: all 0.1s ease-in;
    }
}


/*-----Slogan-----*/

.jumbo {
    background: linear-gradient( rgba(33, 33, 33, 0.0), rgba(33, 33, 33, 0.7), rgba(33, 33, 33, 0.8)), url('/assets/img/banner.jpg') no-repeat center/cover;
    //background-color: rgba(33, 33, 33, 1);
    //background-color: #212121;
    height: 500px;
}

.jumbo__container {
    margin-top: 10%;
}

.jumbo__heading {
    font-weight: 400;
    font-size: 4.5rem;
    color: #fff;
    text-transform: none;
}

.jumbo__btn {
    margin-top: 70px;
    font-size: 1.6rem;
}

@media (max-width: 1200px) and (min-width: 650px) {
    .jumbo {
        height: 400px;
    }
    .jumbo__container {
        margin-top: 10%;
    }
    .jumbo__heading {
        padding-bottom: 20px;
        font-size: 3.5rem;
    }
    .jumbo__btn {
        margin-top: 18px;
        font-size: 1.6rem;
    }
}

@media (max-width: 650px) and (min-width: 450px) {
    .jumbo {
        height: 300px;
    }
    .jumbo__container {
        margin-top: 12%;
    }
    .jumbo__heading {
        padding-bottom: 20px;
        font-size: 2rem;
    }
    .jumbo__btn {
        margin-top: 18px;
        font-size: 1.1rem;
    }
}

@media (max-width: 450px) {
    .jumbo {
        height: 200px;
    }
    .jumbo__container {
        margin-top: 5%;
    }
    .jumbo__heading {
        padding-bottom: 0px;
        font-size: 2rem;
    }
    .jumbo__btn {
        margin-top: 18px;
        font-size: 1.1rem;
    }
}


/*-----Activities-----*/

.about__what {
    margin-bottom: 30px;
}

.upcoming-event {
    text-align: center;
    background: rgba(138,29,40,1);
    background: -moz-linear-gradient(left, rgba(138,29,40,1) 0%, rgba(27,16,61,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(138,29,40,1)), color-stop(100%, rgba(27,16,61,1)));
    background: -webkit-linear-gradient(left, rgba(138,29,40,1) 0%, rgba(27,16,61,1) 100%);
    background: -o-linear-gradient(left, rgba(138,29,40,1) 0%, rgba(27,16,61,1) 100%);
    background: -ms-linear-gradient(left, rgba(138,29,40,1) 0%, rgba(27,16,61,1) 100%);
    background: linear-gradient(to right, rgba(138,29,40,1) 0%, rgba(27,16,61,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a1d28', endColorstr='#1b103d', GradientType=1 );
    padding: 15px;
    border-radius: 3px;
}
.upcoming-event a {
    font-size: 18px;
    color: white;
    font-style: italic;
}

.about__what p {
    max-width: 900px;
    margin: 0 auto;
}

.about__content__image img {
    width: 100%;
    height: auto;
}

.about__content__desc ul {
    padding: 10px 0 0 0px;
    list-style-position: inside;
}

.about__content__desc li {
    padding-top: 5px;
}

.about .quote p {
    font-size: 2.5rem;
    font-weight: 500;
    font-style: italic;
}

@media (max-width: 992px) {
    .about .quote {
        margin: 20px 0;
    }
    .about .quote p {
        font-size: 2rem;
        font-weight: 500;
        font-style: italic;
    }
}

.slide-photo {
    height: 500px;
    overflow: hidden;
}

.slide-photo img {
    height: auto;
    width: 100%;
}

@media (max-width: 1200px) and (min-width: 992px) {
    .slide-photo {
        height: auto;
    }
    .slideshow {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width: 992px) {
    .slide-photo {
        height: auto;
    }
}

.about__cards {
    text-align: center;
}

.card__communiy {
    background-color: #0B0B0B;
}

.card {
    display: inline-block;
    width: 350px;
    padding-bottom: 30px;
}

.card-wide {
    width: 100%;
}

.card-photo img {
    width: 100%;
}

.card-footer {
    font-size: 1.4rem;
    text-align: left;
    color: #eee;
    padding: 20px 30px;
    background-color: #0B0B0B;
    min-height: 270px;
}

.card-footer-long {
    height: 450px;
    width: 100%;
    min-height: 180px;
}

@media (max-width: 992px) {
    .card-footer-long {
        height: auto;
        min-height: 0;
    }
    .card-footer-long .join__form {
        max-width: 360px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) and (min-width: 992px) {
    .card-footer-long {
        height: 400px;
        min-height: 0;
    }
}

.card-footer a {
    float: right;
}


/*
- Hack to prevent slide show broken at <320 pixel screen width when using box-sizing: border-box.
*/

.slideshow * {
    box-sizing: content-box;
}

@media (max-width: 1200px) and (min-width: 650px) {
    .card {
        width: 300px;
    }
    .card-footer {
        padding: 15px 20px 15px 20px;
    }
    .card-wide {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .card {
        width: 100%;
    }
    .card-footer {
        min-height: 150px;
        padding: 15px;
    }
}


/*-----Team-----*/

.team {
    background: url('/assets/img/team_RT.jpg') no-repeat center/cover;
    min-height: 550px;
    position: relative;
    display: none;
}

.team .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 400px;
}

.team h1 {
    color: #eee;
}

.team p {
    color: #D6D6D6;
}

@media (max-width: 650px) {
    .team .container {
        position: static;
    }
    .team {
        min-height: 0;
    }
}


/*-----Sponsor-----*/

.sponsor {
    min-height: 500px;
}

.sponsor img {
    height: auto;
}

.silver-sponsor img {
    max-width: 300px;
}

.silver-sponsor__title,
.past-sponsor__title {
    padding: 15px 0;
}

.past-sponsor img {
    width: 80px;
    height: auto;
}

.past-sponsor__holder {
    list-style: none;
}

.past-sponsor__holder li {
    display: inline-block;
    padding: 10px;
}

@media (max-width: 768px) {
    .sponsor {
        min-height: 0;
    }
    .silver-sponsor img {
        max-width: 240px;
        height: auto;
    }
    .silver-sponsor__title,
    .past-sponsor__title {
        padding: 5px 0;
    }
    .past-sponsor img {
        max-width: 50px;
        height: auto;
    }
}


/*------Join------*/

.join {
    background: url('/assets/img/join_RT.jpg') no-repeat center/cover;
    min-height: 400px;
    padding-top: 100px;
}

.join h1 {
    color: #eee;
}

.join p {
    color: #D6D6D6;
}

.join__form {
    padding: 30px 0;
}

.join__form p {
    padding: 40px 0;
}

.join__form img {
    width: 25px;
    height: 25px;
    margin-top: -2px;
    margin-right: 5px;
}

.link {
    padding: 30px 0;
}

.link a {
    color: #333;
    font-size: 16px;
    font-weight: 400;
}

.copyright {
    padding: 10px 0;
}

@media (max-width: 991px) and (min-width: 650px) {
    .form__button {
        padding-top: 10px;
    }
}

@media (max-width: 650px) {
    .join {
        min-height: 0;
        height: auto;
        padding-top: 20px;
    }
    .form__button {
        padding-top: 10px;
    }
}


/*------ Slackin ------ */

.slackin-embed iframe {
    width: 100%;
    min-height: 300px;
    border: none;
    background-color: white;
}


/*------ ABOUT US ------*/

.section-content {
    width: 60%;
    margin-left: 20%;
    text-align: justify;
}

.section-header {
    margin-bottom: 50px;
}
